ADMIN_USERNAME=your_username    # (str) select your login username
ADMIN_PASSWORD=your_password    # (str) select your login password
SECRET_KEY=secret_key           # (str) select an ideally random key known only to the system for tokens authentication
DATABASE_URL=postgresql+psycopg://user:password@host:port/dbname    # (str) select the URL for your PostgreSQL database. Your provider should give you this URL. Make sure to include the correct driver (+psycopg)
TOKEN_EXPIRE_MINUTES=minutes    # (int, 10 by default) select the number of minutes you want the open session to last