# --- Python / FastAPI ---
__pycache__/
*/__pycache__/
*.py[cod]
*$py.class
.pytest_cache/

# --- Base de Datos (SQLite) ---
# Ignoramos el archivo de base de datos para que no se suban tus datos de prueba
database/database.db
*.db
*.sqlite3

# --- Seguridad y Configuración ---
# ¡CRÍTICO! Aquí están tus SECRET_KEY y contraseñas
.env

# --- Entornos Virtuales ---
venv/
.venv/
env/
ENV/

# --- IDEs y Editores ---
.vscode/
.idea/
*.swp
*.swo

# --- Sistema Operativo ---
.DS_Store
Thumbs.db

# --- Privados ---
private/

# --- Imágenes ---
*.jpg