# --- Python / FastAPI ---
__pycache__/
*/__pycache__/
*.py[cod]
*$py.class
.pytest_cache/

# --- Seguridad y Configuración ---
.env

# --- Entornos Virtuales ---
venv/
.venv/
env/
ENV/

# --- IDEs y Editores ---
.vscode/
.idea/
*.swp
*.swo

# --- Sistema Operativo ---
.DS_Store
Thumbs.db

# --- Privados ---
private/
